@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default (light) */
:root {
  --background: #ffffff;
  --foreground: #111827;
}

/* When html has class="dark" */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}
